@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Alap (light) háttér/szöveg */
html {
  background: var(--mauve-1);
  color: var(--mauve-12);
}

/* Dark mód */
html.dark {
  background: var(--mauve-1); /* mauve-dark-1 a CSS var neve ugyanaz, az értéket a dark osztály alatt adja a Radix */
  color: var(--mauve-12);
}
